/* Tailwind CSS directives */
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 256px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #001529;

  &::-webkit-scrollbar {
    display: none;
  }

  &.inlineMode {
    width: 80px;
  }
}

.menuWrapper {
  position: absolute;
  inset: 0;
  bottom: 24px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.collapseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #000f16;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
}

.content {
  position: absolute;
  top: 0;
  left: 256px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &.collapseContent {
    left: 80px;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color: white;
}
